button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wpforms-submit,
div.wpforms-container-full .wpforms-form button[type=submit],
button[name="wpforms[submit]"],
.wp-block-button__link {
	display: inline-block;
	background: #032733;
	border: none !important;
	color: white;
	min-width: 180px;
	transition: all ease-out 0.3s;
	font-size: 1em;
	line-height: 1;
	padding: 10px 15px;

	&:hover,
	&:focus {
		background: #e61c39;
	}

	&:active,
	&:focus {
		outline: none !important;
	}
}

.wp-block-button__link {
	background: #e61c39;

	&:hover {
		background: #032733;
	}
}

.normal {
	padding: 10px 30px;
}