button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.wpforms-submit,
button[name="wpforms[submit]"] {
	background: $color__background-button;
	color: white;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		
	}

	&:active,
	&:focus {
		outline: none !important;
	}
}

.normal {
	padding: 10px 30px;
}
