input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form textarea {
	color: black !important;
	border: none !important;
	border-radius: 0px !important;
	background-color: #e9f3f5 !important;
	background: #e9f3f5;
	padding: 24px 12px !important;
	font-weight: 700;
	letter-spacing: 0.5px;

	&:focus {
		border: none;
		-webkit-box-shadow: 1px 2px 9px 0px #ddd;
		/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		-moz-box-shadow: 1px 2px 9px 0px #ddd;
		/* Firefox 3.5 - 3.6 */
		box-shadow: 1px 2px 9px 0px #ddd;
		/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}