input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form textarea {
	color: black;
	border: none;
	border-radius: 0px;
	background: #e9f3f5;
    border: none;
    padding: 24px 12px;
    color: black;
    font-weight: 700;
    letter-spacing: 0.5px;

	&:focus {
		border: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
