footer {
    width: 100%;
}

#footer-menu, .services-list {
    margin: 0;
    border: 0;
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    width: 100%;
    padding: 19px 0;
    list-style: none;

    @include for-phone-only {
        padding: 0;
    }

    li {
        a {
            text-decoration: none;
            margin-right: 32px;

            &:hover {
                text-decoration: none;
                color: #cecece;
            }
        }
    }
}

.footer-info {
    @include flexbox();
    background: $color-dark-blue-secondary;

    h5 {
        color: white;
        font-weight: bold;
        margin-bottom: 1.8em;

        @include for-phone-only {
            margin: 12px 0;
        }
    }

    p,
    a {
        color: #cecece;
        
        @include for-phone-only {
            line-height: 0;
        }
    }
}

.site-info {
    background: white;

    .container {
        color: #a2a2a2;
        font-size: 16px;
        padding: 22px 0;
        @include flexbox();
        @include justify-content(flex-end);
        @include align-items(center);

        @include for-phone-only {
            @include justify-content(center);
        }

        p {
            margin: 0;
        }
    }
}

#footer-widget {
    form {
        button {
            float: right;
            background: darken($color-dark-blue, 2);
            border: none;
            color: white;
            width: 180px;
            transition: all ease-out 0.3s;

            &:hover {
                background: darken($color-dark-blue, 3);
            }
        }
    }
}