footer {
    width: 100%;
}

#footer-menu {
    background: #ae3330;
    margin: 0;
    border: 0;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    width: 100%;
    padding: 19px 0;
    list-style: none;

    li {
        a {
            color: white;
            text-decoration: none;
            font-family: 'Pacifico', cursive;
            font-size: 18px;
            margin-right: 32px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer-info {
    @include flexbox();
    background: #225b7b;
    color: $color-gold;

    &-left {
        button {
            background: #2c3c4c;

            &:nth-child(1) {
                margin-right: 32px;
            }
        }
    }

    &-left, &-center, &-right {
        width: 33%;
        @include flex-grow(1);
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-items(center);
    }
}

.site-info {
    background: #4e4e4e;
    color: #a2a2a2;
    font-size: 12px;
    padding: 12px 0;
    @include flexbox();
    @include justify-content(center);
}