/*--------------------------------------------------------------
# Quotes Page Custom CSS
--------------------------------------------------------------*/
@import 'quotes';

/*--------------------------------------------------------------
# Single Page for Services Custom Post Type
--------------------------------------------------------------*/
@import 'single-service';

.entry-header {
    padding: 24px 0;
    background: #6b6a6a;
    color: white;
}