.post-navigation-wrapper {
    @include flexbox();
    @include align-items(center);
    background: lighten(#042e3d, 2);
    min-height: 68px;

    .nav-links {
        .nav-previous {
            a {
                &::before {
                    content: "<";
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }

        .nav-next {
            a {
                &::after {
                    content: ">";
                    display: inline-block;
                    margin-left: 6px;
                }
            }
        }

        a {
            color: white;
        }
    }
}