header {
	position: relative;
}

#topbar {
	background: #042e3e;
	color: white;
	height: 43px;
	width: 100%;
	font-size: 12px;

	.cta-contact-wrapper {
		@include for-phone-only {
			@include flexbox();
			@include justify-content(center);
		}
	}

	.cta-quote-wrapper {
		@include for-phone-only {
			display: none;
		}
	}

	span {
		margin-right: 20px;
		@include inline-flexbox();
		@include align-items(center);
		height: 100%;

		i {
			margin-right: 10px;
			font-size: 13px;
			color: #00a7c1;
		}

		a {
			color: white;
			letter-spacing: 1px;
			font-weight: 700;
			font-size: 10px;

			&:hover {
				text-decoration: none;
			}


			i {
				color: white;
			}
		}
	}


	.cta-quote {
		background-color: #00a7c1;
		padding: 0 12px;

		i {
			margin-right: 6px;
		}
	}
}


.site-branding {
	display: inline-block;
	@include flex-grow(1);
	@include flex-shrink(1);
	@include flex-basis(0);

	.site-title {
		position: relative;
		margin: 0;

		a {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 32px;
		}
	}
}

.menu-toggle {
	float: right;
	margin-top: 11px;

	.icon-wrapper {
		position: relative;
		width: 24px;
		height: 24px;

		.line {
			display: block;
			width: 100%;
			height: 3px;
			background: black;

			transition: all ease-in-out 0.3s;

			&:nth-child(1),
			&:nth-child(2) {
				margin-bottom: 3px;
			}
		}
	}
}

.menu-toggle[aria-expanded="true"] {
	.line {
		&:nth-child(1) {
			position: absolute;
			transform: rotate3d(0, 0, 1, 45deg);
			top: 6px;
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			position: absolute;
			transform: rotate3d(0, 0, 1, -45deg);
			top: 6px;
		}
	}
}

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover>a,
			.focus>a {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		position: relative;
		padding: 0 15px;
	}

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		color: #0a0a0a;
		font-size: 16px;
		font-weight: 700;

		&:hover,
		&:focus {
			color: #0a0a0a;
			text-decoration: none;
		}
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {
		border-bottom: none;
		color: red;
	}
}

/* Small menu. */

.main-navigation.toggled {
	max-height: 500px;

	.menu-primary-container {
		width: 100%;
		height: 100%;

		ul {
			li {
				display: block;
				width: 100%;
				border-bottom: 1px solid rgba(128, 128, 128, .2);
				margin: 0;

				a {
					border-top: 1px solid rgba(255, 255, 255, .1);
					display: block;
					padding: 15px 20px;
					text-align: left;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: 700;
					font-size: 13px;
					line-height: 1;
				}
			}
		}
	}
}

.main-navigation.toggled ul {
	width: 100%;
	height: 100%;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	position: relative;
	margin: 0;
	padding: 0;
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.navigation-wrapper {
		@include flexbox();
		min-height: 80px;
	}

	.main-navigation {
		@include flex-grow(1);
		@include flex-shrink(1);
		@include flex-basis(0);
		@include flexbox();

		.menu-primary-container {
			height: 100%;
		}

		ul {
			width: 100%;
			height: 100%;
			@include flexbox();

			li {
				a {
					top: 50%;
					position: relative;
					//display: inline-block;
					transform: translate(0, -50%);

					&:hover {
						//text-decoration: none;
					}
				}

				&:after {
					content: "";
					display: block;
					margin: auto;
					height: 3px;
					margin-top: 7px;
					width: 0px;
					background: transparent;
					transition: width .5s ease, background-color .5s ease;
				}

				&:hover {
					&:after {
						width: 100%;
						background: red;
					}
				}

			}
		}

		.current_page_item>a,
		.current-menu-item>a,
		.current_page_ancestor>a,
		.current-menu-ancestor>a {
			border-bottom: 2px solid red;
			color: #0a0a0a;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}