.cta-wrapper {
	margin-top: 24px;

	button {
		float: right;
	}
}

#masthead {
	background: $color-header;
}

.main-navigation {
	clear: both;
	@include flexbox();
	@include justify-content(center);
	@include flex-wrap(wrap);
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		margin-right: 32px;

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color-gold;
		font-family: $font__main;
		font-size: 18px;
		font-weight: 700;
		text-shadow: -1px 2px 4px rgba(0, 0, 0, .5);
		letter-spacing: 1px;

		&:hover,
		&:focus {
			color: white;
			text-decoration: none;
		}
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* Small menu. */
.menu-toggle-container {
	width: 100%;
	@include flexbox();
	@include justify-content(center);
}


.menu-toggle,
.main-navigation.toggled ul {
	@include flexbox();
	@include justify-content(center);

	li {
		margin-right: 32px;

		&:last-child {
			margin-right: 0;
		}
	}

	@include for-phone-only {
		@include flex-direction(column);

		li {
			margin-right: 0;
			margin-bottom: 26px;


			&:last-child {
				margin-bottom: 0;
			}
		}
	}

}

@include for-phone-only {

	.menu-toggle,
	.main-navigation.toggled ul {
		@include flexbox();
		@include justify-content(center);
		@include flex-direction(column);

		li {
			margin-right: 32px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}